@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top,
      transparent,
      rgb(11, 20, 66)
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.reactIcon svg {
  fill: #7183e3;
}

.reactIcon span {
  background-color: #010727; 
  outline: 8px solid #7183e3; 
}

.textContainer {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "Take-your Take-your ."
    ". Website Website"
    "To-the-next To-the-next ."
    "LEVEL . ."
    ". . Venture";
}

.Take-your { grid-area: Take-your; }

.Website { grid-area: Website; }

.To-the-next {
  justify-self: end;
  grid-area: To-the-next;
}

.LEVEL {
  justify-self: end;
  grid-area: LEVEL;
}

.Venture {
  justify-self: start;
  grid-area: Venture;
}

.cardContainer {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px 25px;
  grid-auto-flow: row;
  grid-template-areas:
    ". Card1 Card2 Card3"
    "Card4 Card5 Card6 .";
}

.Card1 { grid-area: Card1; }

.Card2 { grid-area: Card2; }

.Card3 { grid-area: Card3; }

.Card4 { grid-area: Card4; }

.Card5 { grid-area: Card5; }

.Card6 { grid-area: Card6; }


.neon-glow {
  text-shadow:
    0 0 0px #fff,
    0 0 10px #f0f,
    0 0 10px #90f,
    0 0 20px #40f,
    0 0 20px #f00; /* Adjust colors as needed */
}

.squareShadow{
  box-shadow:
    0 0 0px #fff,
    0 0 10px #f0f,
    0 0 10px #90f,
    0 0 20px #40f,
    0 0 20px #f00;
    transform: rotateX(-8deg) rotateY(10deg);
    -webkit-animation:change-color 2s ease-in-out 0s infinite normal;
    -moz-animation:change-color 2s ease-in-out 0s infinite normal;
    -ms-animation:change-color 2s ease-in-out 0s infinite normal;
    animation:change-color 2s ease-in-out 0s infinite normal; 
}


@-webkit-keyframes change-color {
  0%{
    box-shadow:
    0 0 0px #fff,
    0 0 0px #f0f,
    0 0 0px #90f,
    0 0 0px #40f,
    0 0 0px #f00;
   }
  50%{ 
    box-shadow:
    0 0 0px #fff,
    0 0 5px #f0f,
    0 0 5px #90f,
    0 0 10px #40f,
    0 0 10px #f00;
   }
  100%{
    box-shadow:
    0 0 0px #fff,
    0 0 0px #f0f,
    0 0 0px #90f,
    0 0 0px #40f,
    0 0 0px #f00;
   }
  }
  
  @keyframes change-color {
    0%{
      box-shadow:
      0 0 0px #fff,
      0 0 0px #f0f,
      0 0 0px #90f,
      0 0 0px #40f,
      0 0 0px #f00;
     }
    50%{ 
      box-shadow:
      0 0 0px #fff,
      0 0 5px #f0f,
      0 0 5px #90f,
      0 0 10px #40f,
      0 0 10px #f00;
     }
    100%{
      box-shadow:
      0 0 0px #fff,
      0 0 0px #f0f,
      0 0 0px #90f,
      0 0 0px #40f,
      0 0 0px #f00;
     }
  }

  .pricesGrid {  
    margin: 3%;
    margin-top: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "cardP1 cardP1 cardP2 cardP2 cardP3 cardP3"
      "cardP4 cardP4 cardP5 cardP5 cardP6 cardP6"
      ". cardP7 cardP7 cardP8 cardP8 .";
  }
  
  @media only screen and (max-width: 640px) {
    .pricesGrid {  
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 15px 15px;
      grid-auto-flow: row;
      grid-template-areas:
        "cardP1 cardP1"
        "cardP2 cardP2" 
        "cardP3 cardP3"
        "cardP4 cardP4" 
        "cardP5 cardP5" 
        "cardP6 cardP6"
        "cardP7 cardP7" 
        "cardP8 cardP8";
    }
  }

  .cardP1 { grid-area: cardP1; }
  
  .cardP2 { grid-area: cardP2; }
  
  .cardP3 { grid-area: cardP3; }
  
  .cardP4 { grid-area: cardP4; }
  
  .cardP5 { grid-area: cardP5; }
  
  .cardP6 { grid-area: cardP6; }
  
  .cardP7 { grid-area: cardP7; }
  
  .cardP8 { grid-area: cardP8; }
  